<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>integration</td><td>FlickrApiClientTest.shouldConnectToFlickrAndReturnResults()[pri:0, instance:pl.piwonski.flickr.browser.client.dao.impl.FlickrApiClientTest@156b6b9]<br/></td></tr>
</table>
