<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b973ea">  <td>12/12/04 22:23:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlickrApiClientTest.shouldConnectToFlickrAndReturnResults()[pri:0, instance:pl.piwonski.flickr.browser.client.dao.impl.FlickrApiClientTest@156b6b9]">shouldConnectToFlickrAndReturnResults</td> 
  <td>main@23275591</td>   <td></td> </tr>
</table>
